.cal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 410px;
    border: 2px solid black;
    border-radius: 10px;
    gap: 25px;
    margin: auto;
    margin-top: 50px;
    background-color: #404040;
}

.screen{
    height: 90px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #e6ffe6;
}

.display{
    height: 80px;
    width: 300px;
    border-style: none;
    font-size: 50px;
    text-align: right;
    background-color: #e6ffe6;
}

.cal_body{
    display: flex;
    gap: 20px;
}

.c1, .c2, .c3, .c4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ele, .clear, .dot{
    height: 60px;
    width: 70px;
}

.equals{
    height: 270px;
}

button{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    background-color: #e6e6e6;
}
